@import '../variables';

.education {
  a {
    color: inherit;
  }
  background: $school-color;
  color: $primary-color;
  padding: 4.375rem $base-margin;
  font-weight: 400;
  @media (min-width: $desktop-size) {
    display: grid;
    grid-template-columns: 19% 10% 1fr;
  }
  &__title {
    font-size: 2.034375rem;
    font-weight: 500;
    color: $primary-color;
    width: 12rem;
  }
  .button__slider--top-down:before {
    background-color: #3c6d79;
    opacity: 0.05;
  }
  &__list {
    color: $primary-color;
    display: block;
    border: #3C6D79;
    border-top: solid 1px;
    z-index: 1;
    .list__item {
      border-bottom: solid 1px;
      position: relative;
      padding: 1.75rem 0 2.1875rem;
      .item {
        &__link {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          text-indent: -1000%;
          &:after {
            content: url("../../images/arrow.svg");
            display: block;
            position: absolute;
            background-size: cover;
            width: 100%;
            height: auto;
            bottom: 2.5625rem;
            right: 0;
          }
        }
        &__title {
          font-size: 0.875rem;
          color: $primary-color;
          letter-spacing: 0.012em;
          margin-bottom: 1.125rem;
        }
        &__school {
          font-size: 1.421875rem;
          letter-spacing: 0.02em;
          margin-bottom: 1.4375rem;
        }
        &__extra {
          font-size: 0.875rem;
          letter-spacing: 0.024em;
          margin-bottom: 2.6875rem;
        }
        &__location {
          font-family: "Roboto", sans-serif;
          font-size: 0.875rem;
        }
        &__logo {
          margin-bottom: 1.125rem;
          display: block;
          height: 5.4375rem;
          width: min-content;
        }
      }
    }
  }
}